﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eagle Computer </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Eagle Computer", "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Language.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Language.Rams, "Ram", "Home")</li>
                    <li>@Html.ActionLink(Resources.Language.VideoCards, "Card", "Home")</li>
                    <li>@Html.ActionLink(Resources.Language.Processor, "Processor", "Home")</li>
                    <li>@Html.ActionLink(Resources.Language.Other, "Other", "Home") </li>
                    <li>@Html.ActionLink(Resources.Language.About, "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <script language="javascript" src="http://is.sitekodlari.com/yukaricik3.js"></script>
            <marquee><h3>Sitemizi ziyaret ettiğiniz için teşekkür ederiz. Umarız ki yardımcı olabilmişizdir :)</h3></marquee>
            <p>&copy; @DateTime.Now.Year - Eagle Computer </p>        
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
