﻿@model IEnumerable<Web_Programlama_2.Ödev.Models.SatinAl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KrediKarti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdiSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KrediKarti)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SatinAlID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SatinAlID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SatinAlID })
        </td>
    </tr>
}

</table>
