﻿@{
    ViewBag.Title = "About";
}
<h3>@Resources.Language.AboutText1</h3>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>@Resources.Language.AboutText2</h1></div>
            <div class="panel-body">
                <center> <img src="~/images/team.jpg" width="525" height="330" /> </center>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span> <h1>@Resources.Language.AboutText3</h1></div>
            <div class="panel-body">
                
                    <p> 0 537 228 61 37 - @Resources.Language.ContactText1</p>
                    <p>muratakkus@gmail.com - @Resources.Language.ContaxtText2</p>

                    <p>@Resources.Language.ContaxtText3</p>

                    <p>
                    @Resources.Language.ContaxtText4    
                    </p>

                     
                    <p>
                    @Resources.Language.ContaxtText5    
                    </p>
                  
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><center><h1>@Resources.Language.About</h1></center></div>
            <div class="panel-body">
                <center>
                    <p>
                       @Resources.Language.AboutText4
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>
