﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<div class="item" align="center">
    <center><img src="~/images/kk.jpg" width="500" height="300"></center>
    <h1>Eagle Computer</h1>
    <p class="lead">
        @Resources.Language.IndexText1
    </p>
</div>

<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="~/images/1.png" alt="x">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/2.jpg" alt="y">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/3.jpg" alt="z">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/4.jpg" alt="t">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>


            </div>
        </div>
        


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-user"></span><h1>@Resources.Language.Announcements</h1></div>
                    <div class="panel-body">
                        <h2>@Resources.Language.Announcements</h2>
                        <h3>İndirime Giren Ürünler </h3>
                        <p>-8GB DDR4 Ram 119TL </p>
                        <p>-4GB GDDR5 Nvidia GTX 950M Ekran Kartı 999TL </p>
                        <p>-2TB Hard Disk 249TL </p>
                        <h2>Stokları Sınırlı Ürünler</h2>
                        <p>-intel core i7-6700HQ,up to 3.5GHz</p>
                        <p>-2GB GDDR4 Nvidia GEFORCE 940M Ekran Kartı</p>
                        <p><a class="btn btn-default" href="~/Duyurular">Daha fazlası için tıklayınız. &raquo;</a></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-user"></span> <h1>@Resources.Language.Comments</h1></div>
                    <div class="panel-body">
                        <p>Ürünler ve şirketimizin hizmeti hakkında yorumlarınızı bildiriniz.</p>

                        <p><a href="~/Yorumlar/Create" class="btn btn-success btn-block">Yorum Yap</a> </p>
                        <p> <a href="~/Yorumlar" class="btn btn-success btn-block">Tüm Yorumlar »</a></p>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-user"></span> <h4>Bizi Takip Edin</h4></div>
                    <div class="panel-body">
                        <script language="javascript" src="http://is.sitekodlari.com/paylas1.js"></script>
                        <!-- Sayaclar.com Code Start  -->
                        <div align="center">
                            <script language="Javascript" src="http://sa.sayaclar.com/c/s3.php?a=vf72u4j&s=1a4"></script><br /><a href="http://sayaclar.com" title="Sayaçlar">Ziyaretçi Sayımız</a>
                        </div>
                        <!-- Sayaclar.com Code End -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
