﻿@{
    ViewBag.Title = "Other";
}
<center> <h3>@Resources.Language.OtherText1</h3> </center>

<div class="item">
    <center><img src="~/images/anaparça.jpg" width="650" height="300" /></center>
    <center> <h4>@Resources.Language.OtherText2</h4> </center>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model1</h1></div>
            <div class="panel-body">
                <img src="~/images/o1.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>THERMALTAKE Tt eSPORTS Commander Combo Mavi LED Türkçe Oyuncu Klavye+Mouse seti</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 165 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model2</h1></div>
            <div class="panel-body">
                <img src="~/images/o2.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>LOGITECH G910 ORION SPECTRUM MECHANICAL GAMING KEYBOARD</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 728 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model3</h1></div>
            <div class="panel-body">
                <img src="~/images/o3.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>A4TECH BLOODY B418 Q USB GRİ MULTİMEDYA GAMING KLAVYE</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 228TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model4</h1></div>
            <div class="panel-body">
                <img src="~/images/o4.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Microsoft Wireless Desktop 850</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 150 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model5</h1></div>
            <div class="panel-body">
                <img src="~/images/o5.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>HP Wireless Mouse X3500</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 49 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model6</h1></div>
            <div class="panel-body">
                <img src="~/images/o6.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>HP Z3700 Wireless Mouse - Gold</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 51 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model7</h1></div>
            <div class="panel-body">
                <img src="~/images/o7.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>INCA IMG-359 GAMING MOUSE+ GAMING MOUSEPAD</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 54 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model8</h1></div>
            <div class="panel-body">
                <img src="~/images/o8.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>LOGITECH G403 PRODIGY KABLOSUZ GAMING MOUSE</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 490 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model9</h1></div>
            <div class="panel-body">
                <img src="~/images/o9.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>LG 34" 34UC79G 21:9 UltraWide IPS Curved 1ms 144Hz Freesync Gaming Led Monitör</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 3250 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model10</h1></div>
            <div class="panel-body">
                <img src="~/images/o10.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AXEN 32" 81 CM ZİGANA HD READY DLED MONİTÖR BEYAZ</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 624 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model11</h1></div>
            <div class="panel-body">
                <img src="~/images/o11.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>SAMSUNG 24" LS24D330HSX/UF 1 MS HDMI GAMING LCD MONİTÖR</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 709 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model12</h1></div>
            <div class="panel-body">
                <img src="~/images/o12.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AXEN 32" 81 CM KAPADOKYA HD READY DLED MONİTÖR SİYAH</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 550 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>
