﻿@{
    ViewBag.Title = "Ram";
}

<center> <h3>@Resources.Language.RamText1</h3> </center>

<div class="item"><center><img src="~/images/anaram.jpg" width="650" height="300" /></center>
    <center> <h4>@Resources.Language.RamText2</h4></center>
    
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model1</h1></div>
            <div class="panel-body">
                <img src="~/images/r1.jpg" width="240" height="220" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>  GSKILL 8GB (1x8GB) RipjawsV Kırmızı DDR4 3000MHz CL15 1.35V Dual Kit Ram </td></tr>
                    <tr> <td> KDV Dahil </td> <td> 247 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model2</h1></div>
            <div class="panel-body">
                <img src="~/images/r2.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>GSKILL 16GB (2x8GB) RipjawsV Siyah DDR4 3200MHz CL15 1.35V Dual Kit Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 518 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model3</h1></div>
            <div class="panel-body">
                <img src="~/images/r3.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>CORSAIR 16GB (2x8GB) VENGEANCE LED Kırmızı DDR4 3000Mhz CL15 Dual Kit Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 522 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model4</h1></div>
            <div class="panel-body">
                <img src="~/images/r4.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Crucial 8GB Ballistix Sport LT DDR4 2400Mhz CL16 1.2V PC Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 196 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model5</h1></div>
            <div class="panel-body">
                <img src="~/images/r5.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>GSKILL 16GB (2x8GB) RipjawsX DDR3 2400Mhz CL11 1.65V Dual Kit Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 450 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model6</h1></div>
            <div class="panel-body">
                <img src="~/images/r6.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Crucial 16GB (2x8GB) Ballistix Elite DDR4 2666Mhz CL16 1.2V PC Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 518 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model7</h1></div>
            <div class="panel-body">
                <img src="~/images/r7.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>CORSAIR 32GB (2X16GB) DOMINATOR Platinum DDR4 3200Mhz CL16 Dual Ram Kit</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1275 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model8</h1></div>
            <div class="panel-body">
                <img src="~/images/r8.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Crucial 16GB (2x8GB) Ballistix Sport DDR4 2400MHz CL16 1.2V PC Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 392 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model9</h1></div>
            <div class="panel-body">
                <img src="~/images/r9.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>GSKILL 32GB (2x16GB) TRIDENT Z DDR4 3000MHz CL14 1.35V Dual kit Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1051 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model10</h1></div>
            <div class="panel-body">
                <img src="~/images/r10.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>CORSAIR 8GB Value DDR3L 1600MHz 1.35V Low Voltaj CL11 Notebook Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 216 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model11</h1></div>
            <div class="panel-body">
                <img src="~/images/r11.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>GSKILL 8GB RipjawsV Metalik Gri DDR4 2800MHz CL15 1.25V Single Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 214 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model12</h1></div>
            <div class="panel-body">
                <img src="~/images/r12.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>GSKILL 8GB (2x4GB) RipjawsX DDR3 2400MHz CL11 1.65V Dual Kit Ram</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 239 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        </div>
</div>





