﻿@model IEnumerable<Web_Programlama_2.Ödev.Models.Duyurular>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dbaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dicerik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dbaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dicerik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DuyurularID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DuyurularID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DuyurularID })
        </td>
    </tr>
}

</table>
