﻿@model Web_Programlama_2.Ödev.Models.Urun
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Resim</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.urunID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.urunID)
                @Html.ValidationMessageFor(model => model.urunID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ozellik, "ozellik", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ozellik", String.Empty)
                @Html.ValidationMessageFor(model => model.ozellik)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fiyat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fiyat)
                @Html.ValidationMessageFor(model => model.fiyat)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.resim, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.resim)
                @Html.ValidationMessageFor(model => model.resim)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>