﻿@*@model IEnumerable<Web_Programlama_2.Ödev.Models.Urun>*@
@model Web_Programlama_2.Ödev.Models.Urun
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete</h2>
<h3>Bunu silmek istiyor musunuz?</h3>
<div>
    <h4>Pictures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.urunID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.urunID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resim)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>