﻿@model Web_Programlama_2.Ödev.Models.Urun
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(model => model.urunID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ozellik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src=@Url.Action( "Show", "image", new { id = item.urunID }) style="height:80px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.urunID)
            </td>
            
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.urunID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.urunID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.urunID })
            </td>
        </tr>
    }
</table>